:root {
	--black: hsl(0deg 0% 0%);
	--white: hsl(0deg 0% 100%);

	--base-color-01: hsl(25, 100%, 50%);
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Ubuntu', sans-serif;
}
